<!doctype html>

<html>
  <head>


      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

      <style>
          #map {height: 500px;
                width: 100%;
          }
      </style>



    <title>YoMTop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">YoMTop</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--  <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
	<br><br>
        <h1>YoMTop</h1>
        <p class="lead">A social recommender system</p>

      </div>

    <ul id="myTab" class="nav nav-tabs">
	    <li><a href="#overview" data-toggle="tab">Overview</a></li>
	    <li class="active"><a href="#hypothesis" data-toggle="tab">Use It!</a></li>
    </ul>
      <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in" id="overview">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">About</h3>
                </div>

                <div class="panel-body">
                    This application is a proof of concept demonstration of a group collaborative filtering recommender system using data from the <a href="http://www.yelp.com/dataset_challenge/">Yelp Dataset Challenge</a>. For more information check out this paper or the github repo here.
                </div>
            </div>
        </div>


	<div class="tab-pane fade in active" id="hypothesis">
        <div>
            <form>
                <h4>Select User(s)</h4>

                <input type="checkbox" value="mejx9Ya_tOvFRBosjPqfKQ" style="margin-left: 10px;"> Bob

                <input type="checkbox" value="xqQMyOzggrDR3vQ82b79tw" style="margin-left: 10px;"> Alex

                <input type="checkbox" value="PkL1_hGEl3r069k7DrBAcA" style="margin-left: 10px;"> Jennifer

                <input type="checkbox" value="TWUQw8nmKAkUv7gzPWS4Pw" style="margin-left: 10px;"> Celina

                <input type="checkbox" value="OzbDvzLS7FP42GV4QPTUGA" style="margin-left: 10px;"> Silas

                <input type="checkbox" value="j71lD0BgYWxOK5TAncpb-Q" style="margin-left: 10px;"> John

                <input type="checkbox" value="Fxzn1yDq9NKWgJlroA8--Q" style="margin-left: 10px;"> Maxine

            <br>
            <button type="button" id="rec_btn" class="btn btn-primary btn-lg" style="margin: 10px;">Get recommended!</button>
                <br>
                Recommendations will appear as annotations in map below.
            </form>
            <hr>
        </div>
        <div class="panel panel-info">
	    <div class="panel-heading">
	      <h3 class="panel-title">Use It!</h3>
	    </div>

	    <div class="panel-body">


            <div id="map"></div>
	    </div>
	  </div>

	</div> <!-- /.tab-pane -->

    </div> <!-- /.tab-content-->

    </div><!-- /.container -->
    
  </body>

    <script>
        var markerLayer;
        var baseLayer = L.tileLayer('http://{s}.tile.cloudmade.com/ab7393729f6047c695f84e4a00d4a876/997/256/{z}/{x}/{y}.png', { attribution: 'YoMTop', minZoom: 2, maxZoom: 18});

        //var marker = new L.Marker(new L.LatLng(33.5237259,-112.0486848));
        //marker.bindPopup('some badass restaurant');

        //var controls = L.control.layers(null, {collapsed: false, autoZIndex: false});

        var map = new L.Map('map', {center: new L.LatLng(33.4500, -112.0667), zoom: 10, layers: [baseLayer]});

        //controls.addTo(map);
        //marker.addTo(map);


        $('#rec_btn').on('click', function(){
            var ids = $("input:checkbox:checked").map(function(){
                return $(this).val();
            }).get();
            console.log(ids);

            var ids_string = ids[0];
            for (var i=1; i<ids.length; i++){
                ids_string = ids_string + "," + ids[i];
            }

            $.ajax({
                //url: "http://yomtop.sb01.stations.graphenedb.com:24789/yomtop/recommend/ids/"+ids_string,
                //url: "http://yomtop.sb01.stations.graphenedb.com:24789/yomtop/recommend/front_test",
                url: "http://cherrychia.lyonwj.com:7474/yomtop/recommend/ids/" + ids_string,
                //url: "http://cherrychia.lyonwj.com:7474/yomtop/recommend/ids/"+ids_string,
                //username: "yomtop",
                //password: "3NcRQG27i3pWGXiCEwi4",
                contentType: "text/plain",
                //dataType: 'a',
                data: JSON.stringify({ids: ids}),
                type: "GET",
                //beforeSend: function(xhr) { xhr.setRequestHeader("Authorization", "Basic " + btoa("yomtop" + ":" + "3NcRQG27i3pWGXiCEwi4")); },
                //success: function(data){
                //    console.log(data);
                //}
                success: function(data){
                    //$('#map').empty();
                    //map.remove();
                    //map = new L.Map('map', {center: new L.LatLng(33.4500, -112.0667), zoom: 10, layers: [baseLayer]});
                    var markers = [];
                    if (markerLayer){
                        map.removeLayer(markerLayer);
                    }
                    for (var i=0; i<data.recs.length; i++){
                        var rest = data.recs[i];
                        var marker = new L.Marker(new L.LatLng(rest.lat, rest.long));
                        marker.bindPopup(rest.name + '<br>' + rest.address);
                        markers.push(marker);
                        //marker.addTo(map);

                    }

                    markerLayer = new L.layerGroup(markers);
                    markerLayer.addTo(map);
                }

            })
        })


    </script>
</html>
